<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

	<nav th:replace="layouts :: foo"></nav>

	<div>
		<h4> Current Projects </h4>
		<table>
			<thead>
				<tr>
					<th> Project Name </th>
					<th> Project Stage </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="aProject : ${projectsList}"> 
					<td th:text="${aProject.name}"> </td>
					<td th:text="${aProject.stage}"> </td>
				</tr>
				
			</tbody>
		</table>
		
		<h4> Current Employees</h4>
		<table>
			<thead>
				<tr>
					<th> Employee First Name </th>
					<th> Employee Last Name </th>
					<th> Employee Email </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="employee : ${employeeList}"> 
					<td th:text="${employee.firstName}"> </td>
					<td th:text="${employee.lastName}"> </td>
					<td th:text="${employee.email}"> </td>
				</tr>
				
			</tbody>
		</table>
	</div>
</body>
<!-- 	    
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdn.rawgit.com/crlcu/multiselect/v2.5.1/dist/js/multiselect.min.js"></script>
-->
</html>





