<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class = "container">
		<h4> Current Projects </h4>
		<hr>
		
		<table class = "table table-bordered table-striped">
			<thead class = "thead-dark">
				<tr>
					<th> Project Name </th>
					<th> Project Stage </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="aProject : ${projectsList}"> 
					<td th:text="${aProject.name}"> </td>
					<td th:text="${aProject.stage}"> </td>
				</tr>
				
			</tbody>
			
		</table>
		

		<a th:href = "@{/projects/new}" class = "btn btn-primary btn-sm mb-3">New Project</a>
	</div>
</body>
<!-- 	    
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdn.rawgit.com/crlcu/multiselect/v2.5.1/dist/js/multiselect.min.js"></script>
-->
</html>





