<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class="container">		
		<h4> Current Employees</h4>
		<table class = "table table-bordered table-striped">
			<thead class = "thead-dark">
				<tr>
					<th> Employee First Name </th>
					<th> Employee Last Name </th>
					<th> Employee Email </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="employee : ${employeeList}"> 
					<td th:text="${employee.firstName}"> </td>
					<td th:text="${employee.lastName}"> </td>
					<td th:text="${employee.email}"> </td>
				</tr>
				
			</tbody>
		</table>
		
		<a th:href="@{/employee/new}" class = "btn btn-primary btn-sm mb-3">
			New Employee
		</a>
	</div>
</body>
<!-- 	    
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="https://cdn.rawgit.com/crlcu/multiselect/v2.5.1/dist/js/multiselect.min.js"></script>
-->
</html>





